{% extends "base.html.twig" %}

{% block contents %}
    <p>
        <a href="{{ path('app_login') }}">login</a>
    </p>
    <p>
        <a href="">registration</a>
    </p>
    <p>
        <a href="{{ path('app_home') }}">home</a>
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto aspernatur at eius et in
        incidunt ipsam itaque iusto laudantium minima nesciunt officiis provident quisquam reprehenderit sapiente
        tempore, ut voluptatem!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt doloremque doloribus ex nemo
        nesciunt sed ullam voluptas voluptates voluptatibus! Amet consequatur dicta dolorum iure quaerat quam
        sequi tenetur voluptatibus!</p>
{% endblock %}